body {
  margin: 0;
  /* background-color: blueviolet; */
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  background-color: #1b1b1b;

}

.topnav, .path-side, .row, .footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tn-container, .ps-container, .r-container, .f-container{
  width: 70%;
}

.row {
  background-color: #1b1b1b;
  position: relative;
}

.row p, .row ol{
  line-height: 2;
}

.information{
  /* background-color: #8cb4ff; */
  color: #8cb4ff;
  text-align: center;
  margin: 30px auto;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  border-left: 5px solid #8cb4ff;
  border-radius: 3px;
  padding-top: 20px;
  padding-bottom: 20px;

  width: 80%;
}

.border {
  margin: 0 13%;
}

/* Style the header */
.header {
  background-color: #1b1b1b;
  padding: 0.05%;
  text-align: center;
  color: #ffffff;
  font-size: larger;

}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #1b1b1b;
  border-top: 1px #cdcdcd solid;
  padding: 10px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.xxx{
  display: flex;
  align-items: center;
}

.xxx form input{
  border-radius: 50px;
  background-color: #1b1b1b;
  border: 1px solid #cdcdcd;
  color: white;
  height: 30px;
  width: 50px;
  transition:width .5s
}

.xxx form input:focus{
width: 200px;
}

.inp{
  caret-color: blue;
}

.topnav a {
  float: left;
  display: block;
  color: #cdcdcd;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 10%;
}

.topnav .tn-container {
  display: flex;
  justify-content: space-between;
}

.topnav .f-grp a:hover {
  background-color: #cdcdcd;
  color: #1b1b1b;
}

.topnav .grp{
  text-align: center;
  
}

.topnav .grp .sign{
  background-color: #ffffff;
  color: #1b1b1b;
  padding: 3px;
  border-radius: 5px;
  padding: 10px 12px;
}

/* Style the path side */
.path-side {
  background-color: #343434;
  color: #e2e2e2;
  border-top: 1px #cdcdcd solid;
  border-bottom: 1px #cdcdcd solid;
  font-size: 18px;
}

.path-side .ps-container {
  display: flex;
  justify-content: space-between;
}

/* .path-side .border .left{
    width: 70%;
} */

.path-side .right a {
  text-decoration: none;
  color: #e2e2e2;
}

/* Create three unequal columns that floats next to each other */
.column {
  padding: 10px;
}

/* Left and right column */

.row .r-container {
  display: flex;
}
.column.side-right {
  width: 10%;
}

/* .column.side-right .parts span {
  color: #cdcdcd;
} */

.column.side-right .parts{
  border-left: 2px #cdcdcd solid;
  color: #cdcdcd;
}


.column.side-right .parts span {
  display: block;
  margin: 12px 0px;
}

.column.side-right .parts span a {
  padding: 10% 5%;
  color: #e2e2e2;
  text-decoration: none;
}

.column.middle h1{
  font-size: 50px;
}

.column.middle h2{
  font-size: 45x;
}

.column.middle p{
  font-size: 17px;
}


.column.side-left {
  width: 18%;
  color: #cdcdcd;
  margin: 0;
}

.column.side-left ul {
  height: 600px;
  width: auto;
  overflow: hidden;
  overflow-y: scroll;
  list-style: none;
  font-size: larger;
  margin-bottom: 0;
}

.column.side-left .filter {
  position: sticky;
  /* background-color: red; */
}

.column.side-left .filter p {
  border-radius: 50px;
  /* background-color: aqua; */
  width: 40%;
  padding: 1.5% 0.2%;
  text-align: center;
  border: 1px solid #e2e2e2;
}

/* Middle column */
.column.middle {
  width: 65%;
  color: #ffffff;
  margin: 0 10px;
}

.found{
  border: 1px solid #e2e2e2;
  padding: 20px ;
  background-color: #343434;
  margin-top: 20px;;
  margin-bottom: 60px;
  margin-right: 20%;
}

.found ul{
  list-style:disc;
  text-decoration: underline;
  color: #5e9eff;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  /* position: absolute; */
  width: 100%;
  bottom: 0;
  /* top: 100%; */
  /* left: 0; */
  /* margin-top: 0; */
  text-align: center;
  color: #e2e2e2;
  /* z-index: 10; */
  background-color: #696969;
  padding-bottom: 20px;
}

.footer .pngs {
  margin-top: 2em;
  height: 30px;
  width: auto;
  gap: 20px;
}

.footer  .top-side {
  border-bottom: 1px solid #e2e2e2;
  display: flex;
  /* margin-bottom: 10px; */
}

.footer  .top-side .column.side-left.foot {
  width: 18%;
}


.footer  .top-side .column.side-left.foot{
  text-align: start;
}

.footer  .top-side .column.side-left.foot a{
    font-size: 30px; 
    text-decoration: none;
}

.footer  .top-side .column.side-left.foot p{
  font-size: large;
  margin-top: 5px;
}
.footer  .top-side .column.middle.foot {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

ul{
  list-style: none;
}

.footer .top-side .column.middle.foot ul li{
  margin-bottom: 8px;
  text-align: start;
  font-size: 15px;
}

.footer .top-side .column.middle.foot ul p{
  font-size: 18px;
}

.footer .bottom-side p {
  margin: 0;
}

.footer .bottom-side .first-block{
  display: flex;
  align-items: center;
}

.footer .bottom-side .first-block h2{
  background-color: #cdcdcd;
  padding: 5px;
  color: #696969;
  margin-right: 50px;
}

.footer a{
  color: #e2e2e2;
  font-size: small;
}

.footer .bottom-side .first-block a{
  margin-right: 10px;
}

.footer .bottom-side .first-block a:hover{
  text-decoration: none;
}

.footer  p{
  font-size: smaller;
  text-align: start;
  text-decoration: none;
}

