.navbar-nav .nav-link:hover {
  background-color: #007bff; /* Couleur de survol (bleue) */
  color: black; /* Couleur du texte en survol */
  opacity: 0.1;
  border-radius: 5px;
}

.list-unstyled a,
.list-unstyled {
  color: black; /* Couleur du texte pour les liens */
  text-decoration: none; /* Supprime la décoration du texte (soulignement) */
}

.list-unstyled:hover {
  text-decoration: underline;
}

.container.mt-4 .alert.alert-primary.border-left {
  padding: 30px 20px;
  text-align: center;
}

.container.mt-4 .alert.alert-primary.border-left {
  margin-bottom: 80px;
}

.container.mt-4 .alert.alert-primary.border-left h6,
.container.mt-4 .alert.alert-primary.border-left p {
  display: inline;
}
