body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.border {
  margin-left: 23%;
  margin-right: 23%;
}

h1,
h2,
h3,
h4 {
  font-family: Work Sans, Arial, sans-serif;
  color: #00ccb1;
}

.navbar,
.hero,
.main .main-el,
.improve-v {
  width: 53%;
}

/*  */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar div:nth-child(2) ul:first-child {
  display: flex;
  gap: 2em;
  list-style: none;
}

.navbar div:nth-child(2) ul a {
  text-decoration: none;
  color: gray;
  font-size: 15px;
  display: block;
}

.navbar div:nth-child(2) li:hover a{
  color: #00ccb1;
}

.navbar div:nth-child(2) ul li ul {
  display: none;
  list-style: none;
}

.navbar div:nth-child(2) ul li:hover ul{
  display:block;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 5px 5px 20px grey;
  right: 23%;
  /* margin-top: 10px; */
}

.navbar div:nth-child(2) ul li ul li{
  margin: 25px 40px 10px 0px;
}

/* .navbar div:nth-child(2) ul li ul li:hover a{
  color: #00ccb1;
} */


.navbar div:nth-child(3){
  display: none;
}

/*  */

.hero .hero-image,
.hero .hero-title {
  text-align: center;
}

.hero .hero-image img {
  width: 4%;
  height: auto;
}

.hero .hero-title p {
  font-size: 30px;
}

.hero .hero-paragraphs {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.hero .hero-paragraphs p {
  font-size: small;
  line-height: 1.5;
  color: gray;
  font-size: 16.5px;
}

.hero .hero-box {
  display: flex;
  margin-top: 10%;
  justify-content: space-between;
  gap: 1.5em;
}

.hero .hero-box .hero-box-types {
  border-radius: 15px;
  padding: 30px 20px;
  height: 300px;
  color: #ffffff;
  width: 100%;
}

.hero .hero-box .hero-box-types p:nth-child(1) {
  font-size: 25px;
  font-weight: bold;
}

.hero .hero-box .hero-box-types p:nth-child(2) {
  font-size: 25px;
}

.hero .hero-box div.hero-box-types:nth-child(1) {
  background-color: #00ccb1;
}

.hero .hero-box div.hero-box-types:nth-child(2) {
  background-color: #3d83df;
}

.hero .hero-box div.hero-box-types:nth-child(3) {
  background-color: #1b2734;
}

.hero .hero-global {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 4em 0;
}

.hero .hero-global .global-text {
  width: 25%;
  color: #00ccb1;
}

.hero .hero-global .global-text:first-child {
  font-size: 25px;
  word-spacing: 5px;
}

.hero .hero-global .all-img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(25%);

  /* display: flex;
  justify-content: space-between;
  flex-wrap: wrap; */

  width: 65%;
  gap: 1em;
}

.hero .hero-global .all-img div {
  width: 24%;
}

.hero .hero-global .all-img div img {
  width: 40px;
  height: auto;
  filter: grayscale(100%);
  transition: filter 0.3s;
}

.hero .hero-global .all-img div img:hover {
  filter: none;
}

/*  */
/*  */
.main {
  margin: 0;
  background-color: #e5faf8;

  margin-bottom: 50px;
  width: 100%;
  height: 550px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-el {
  display: grid;
  gap: 2em;
  height: 100%;
  justify-content: space-around;
  grid-template-columns: 50% 45%;

  background-image: url("image/logo.png");
  background-size: 425px;
  background-position-y: 150%;
  background-position-x: left;
  background-repeat: no-repeat;
}

.main .main-el .left {
  color: gray;
}

.main .main-el .right {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-rows: 47% 45%;
  column-gap: 20px;
  padding-top: 15px;
  width: 100%;
}

.main .main-el .right div > div {
  border-radius: 5px;
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
}

.main .main-el div.right div.box:nth-child(1),
.main .main-el div.right div.box:nth-child(3) {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.main .main-el .right div p {
  font-size: smaller;
  text-align: center;
  color: gray;
}

.main .main-el .right div h3 {
  text-align: center;
}

/*  */
/*  */

.improve-v {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;

  text-align: center;
  font-size: smaller;
}

.improve-v .s1 {
  color: gray;
  margin-bottom: 10%;
}

.improve-v .s2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10%;
}

.improve-v .s2 .v-box img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.improve-v .s2 .v-box {
  width: 32%;
  margin-bottom: 1em;
  cursor: pointer;
  transition: box-shadow 0.2s ease;
}

.improve-v .s2 .v-box:hover {
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 2px 2px 10px 1px gainsboro;
}

.improve-v .s2 .v-box .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gainsboro;
  border-left: 1px solid gainsboro;
  border-right: 1px solid gainsboro;
  padding: 5px 20px 5px 20px;
}

.improve-v .s2 .v-box .info a {
  display: flex;
  justify-content: space-around;
  align-items: center;

  text-decoration: none;
  color: whitesmoke;
  background-color: rgb(61, 131, 223);
  padding: 10px 15px;
  border-radius: 5px;
  font-size: smaller;
}

.improve-v .s2 .v-box .info p {
  font-size: 1.5em;
  color: gray;
}

.improve-v .s3 h1 {
  color: black;
  margin-bottom: 50px;
}

.improve-v .s3 a {
  text-decoration: none;
  color: whitesmoke;
  background-color: rgb(61, 131, 223);
  padding: 10px 15px;
  border-radius: 5px;
}

/*  */
/*  */

.line-1 {
  height: 1px;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 1%;
  background-color: gainsboro;
}

.footer {
  color: gray;
  font-size: smaller;
  text-align: center;
  line-height: 1.5;
}

.footer a {
  color: rgb(61, 131, 223);
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

/* Petits écrans (jusqu'à 576px) */
@media (max-width: 576px) {

  .navbar div:nth-child(1) img{
    width: 150px;
    height: auto;
  }

  .navbar div:nth-child(2){
    display: none;
  }
  

  .navbar div:nth-child(3){
    display: block;
  }

  .navbar div:nth-child(3) img{
    width: 50px;
    height: auto;
    cursor: pointer;
  }

  .hero .hero-image img {
    width: 10%;
    height: auto;
  }
  
  .navbar,
  .hero,
  .main .main-el,
  .improve-v {
    width: 90%;
  }

  .hero .hero-paragraphs,
  .hero .hero-box,
  .hero .hero-global,
  .main .main-el {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero .hero-global .global-text {
    width: 80%;
  }

  .hero .hero-box .hero-box-types {
    border-radius: 15px;
    padding: 30px 20px;
    height: 250px;
    width: 80%;
    color: #ffffff;
  }

  .hero .hero-global .all-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(35%);
  
    /* display: flex;
    justify-content: space-between;
    flex-wrap: wrap; */
  
    width: 65%;
    gap: 1em;
  }
  

  .improve-v .s2 {
    display: none;
  }

  .main {
    height: 750px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .main-el {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 75%;
    padding-bottom: 50px;
  }

  .main .main-el .right {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 65% 65%;
    column-gap: 20px;
    padding-top: 15px;
    width: 100%;
  }
  
  .main .main-el .right div > div {
    border-radius: 5px;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
  }

  .main .main-el .right img {
    width: 20px;
    height: auto;
  }

  .main .main-el .right div p {
    font-size: 10px;
    text-align: center;
    color: gray;
  }
  
  .main .main-el .right div h3 {
    text-align: center;
    font-size: 15px;
  }
  
  .line-1{
    margin-top: 20%;
  }
  
}

/* Écrans moyens (entre 576px et 992px) */
@media (min-width: 577px) and (max-width: 992px) {
  .navbar div:nth-child(1) img{
    width: 150px;
    height: auto;
  }

  .navbar div:nth-child(2){
    display: none;
  }
  

  .navbar div:nth-child(3){
    display: block;
  }

  .navbar div:nth-child(3) img{
    width: 50px;
    height: auto;
    cursor: pointer;
  }

  .hero .hero-image img {
    width: 10%;
    height: auto;
  }
  
  .navbar,
  .hero,
  .main .main-el,
  .improve-v {
    width: 80%;
  }

  .hero .hero-box .hero-box-types {
    border-radius: 15px;
    padding: 30px 20px;
    height: 250px;
    width: 300px;
    color: #ffffff;
  }

  .hero .hero-global .global-text {
    width: 40%;
  }

  .hero .hero-global .all-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(40%);
  
    /* display: flex;
    justify-content: space-between;
    flex-wrap: wrap; */
  
    width: 55%;
    gap: 1em;
  }
  

  /* .improve-v .s2 {
    display: none;
  } */

  .main {
    height: 750px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .main-el {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 75%;
    padding-bottom: 50px;
  }

  .main .main-el .right {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 65% 65%;
    column-gap: 20px;
    padding-top: 15px;
    width: 400px;
    height: 300px;
  }
  
  .main .main-el .right div > div {
    border-radius: 5px;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
  }

  .main .main-el .right img {
    width: 20px;
    height: auto;
  }

  .main .main-el .right div p {
    font-size: 10px;
    text-align: center;
    color: gray;
  }
  
  .main .main-el .right div h3 {
    text-align: center;
    font-size: 15px;
  }
  
  .line-1{
    margin-top: 20%;
  }

}

/* Grands écrans (à partir de 993px) */
@media (min-width: 993px) and (max-width: 1500px) {
  .border {
    margin-left: 15%;
    margin-right: 15%;
  }
  
  .navbar,
  .hero,
  .main .main-el,
  .improve-v {
    width: 70%;
  }
}
